.block-number {
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  @apply flex items-center justify-center bg-[#34363c];

  span {
      @apply p-1;
  }
}

.calc-grid {
  @apply border border-[white] rounded-xl;
  box-shadow: 0px 8px 32px 0px #FFFFFF36 inset;
}

.calc-grid>div {
  @apply px-4 py-2 border border-[#FFFFFF33] flex flex-col justify-center items-center;

}

.calc-grid>div.tier-detail {
  @apply px-4 py-2 border border-[#FFFFFF33] flex flex-col justify-center items-start sticky left-0 z-10 bg-[#181920] sm:bg-[transparent];
}
