<div class="flex flex-row justify-between items-center">
  <div class="flex flex-row justify-evenly items-center gap-x-8">
    <div class="flex flex-col justify-start items-start">
      <h4 class="text-[#b5b6b8]">$VFSN:</h4>
      <h2 class="font-semibold">{{dlpTokenAmount()}}</h2>
    </div>
    <!-- <div class="flex flex-col justify-start items-start">
      <h4 class="text-[#b5b6b8]">VANA:</h4>
      <h2 class="font-semibold">{{vanaTokenAmount()}}</h2>
    </div> -->
  </div>

    <!-- <button class="dfus-blue-btn">
      <a [href]="dlpTokenVanaScanUrl" target="_blank">View Tokens</a>
    </button> -->
    <div>
      <button class="dfus-basic-btn flex flex-row justify-center items-center gap-x-2" #trigger="matMenuTrigger" [matMenuTriggerFor]="menu">
        {{walletAddress().slice(0, 5) }} ... {{ walletAddress().slice(-5)}}
        @if (trigger.menuOpen) {
          <mat-icon>arrow_drop_up</mat-icon>
        }
        @else {
          <mat-icon>arrow_drop_down</mat-icon>
        }

        <a [href]="vanaTestnetExplorerUrl()" target="_blank">
          <button class="dfus-basic-btn !p-0 !border-0 !h-6">
            <mat-icon class="text-xl hover:text-dfus-blue" aria-hidden="false" fontIcon="open_in_new" />
          </button>
        </a>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="handleDisconnectWallet()">
            Disconnect Wallet
          </button>
      </mat-menu>
    </div>
</div>
