<div class="flex flex-row justify-between items-center">
  <div class="flex flex-row justify-evenly items-center gap-x-8">
    <div class="flex flex-col justify-start items-start">
      <h4 class="text-[#b5b6b8]">$VFSN:</h4>
      <h2 class="font-semibold">{{dlpTokenAmount()}}</h2>
    </div>
    <!-- <div class="flex flex-col justify-start items-start">
      <h4 class="text-[#b5b6b8]">VANA:</h4>
      <h2 class="font-semibold">{{vanaTokenAmount()}}</h2>
    </div> -->
  </div>

  <!-- <button class="dfus-blue-btn">
    <a [href]="dlpTokenVanaScanUrl" target="_blank">View Tokens</a>
  </button> -->
  <div class="flex flex-col items-end">
    <app-wallet-button></app-wallet-button>
    <div class="flex flex-row justify-end items-center mt-2">
      <a class="flex flex-row justify-end items-center gap-x-2 text-sm cursor-pointer" [href]="vanaTestnetExplorerUrl()" target="_blank">
        <span class="underline text-dfus-blue">View Transaction History</span>
        <mat-icon class="text-base text-dfus-blue" fontIcon="open_in_new"></mat-icon>
      </a>
    </div>
  </div>
</div>
