<mat-sidenav-container class="h-screen w-screen">
  <mat-sidenav #sidenav mode="side" opened class="max-w-64">
    <div class="flex flex-col h-full px-3 py-4 overflow-y-auto bg-[#151a23]">
      <div class="flex items-center ps-2.5 mb-5">
        <a href="https://www.dfusion.ai/socialtruthdlp/" target="_blank" class="flex items-center">
          <img src="img/logo.svg" class="h-6 sm:h-7" alt="dFusion logo" />
        </a>
        <span class="ml-2 text-xs text-[#ffffff]">v{{appVersion}}</span>
      </div>
      <ul class="space-y-2 font-medium">
        <li>
          <a routerLink="/app/miner" routerLinkActive="text-[#5B92FD]" class="flex items-center p-2 rounded-lg hover:bg-gray-700 group">
            <mat-icon>dashboard_2</mat-icon>
            <span class="flex-1 ms-3 whitespace-nowrap">dFusion Social Truth</span>
          </a>
        </li>

        <li>
          <a routerLink="/app/staking-rewards" routerLinkActive="text-[#5B92FD]" class="flex items-center p-2 rounded-lg hover:bg-gray-700 group">
            <mat-icon>info</mat-icon>
            <span class="flex-1 ms-3 whitespace-nowrap">Staking rewards</span>
          </a>
        </li>

        <li routerLink="/app/whatsapp" routerLinkActive="text-[#5B92FD]" class="cursor-pointer">
          <a class="flex items-center p-2 rounded-lg hover:bg-gray-700 group">
            <mat-icon>whatsapp</mat-icon>
            <span class="flex-1 ms-3 whitespace-nowrap">WhatsApp</span>
          </a>
        </li>
      </ul>

      <div class="flex flex-1"></div>

      <ul class="space-y-2 font-medium">
        <li (click)="openSettings()" class="cursor-pointer">
          <a class="flex items-center p-2 rounded-lg hover:bg-gray-700 group">
            <mat-icon>settings</mat-icon>
            <span class="flex-1 ms-3 whitespace-nowrap">Settings</span>
          </a>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="h-screen p-10 sm:ml-64 overflow-x-hidden overflow-y-auto">
    <div class="h-full">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
