<header class="h-20 px-20 mb-12 w-full flex flex-row justify-between items-center">
  <img [src]="'img/logo.svg'" class="h-10" alt="dFusion logo" (click)="navBack()" />
  <div class="flex flex-row justify-end items-center gap-x-4">
    <button type="button"
      class="text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center">
      <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9" />
      </svg>
      <span class="sr-only">Icon description</span>
    </button>

    <div>|</div>

    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown-wallet"
      class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center
      bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
      type="button">
      0x123...234

    </button>
    <!-- Dropdown menu -->
    <div id="dropdown-wallet"
      class="z-10 hidden divide-y divide-gray-100 rounded-lg shadow w-44 bg-gray-700">
      <ul class="py-2 text-sm text-gray-200" aria-labelledby="dropdownDefaultButton">
        <li>
          <a href="#"
            class="block px-4 py-2 hover:bg-gray-600 hover:text-white">Dashboard</a>
        </li>
        <li>
          <a href="#"
            class="block px-4 py-2 hover:bg-gray-600 hover:text-white">Settings</a>
        </li>
        <li>
          <a href="#"
            class="block px-4 py-2 hover:bg-gray-600 hover:text-white">Earnings</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-600 hover:text-white">Sign
            out</a>
        </li>
      </ul>
    </div>
  </div>

</header>