<div class="mt-5">
  <button class="dfus-basic-btn" (click)="onBackToStakePlace()">Back</button>

  <div class="flex flex-row justify-between items-center md:flex-col md:gap-4 mt-5">
    <div class="w-full flex flex-col justify-start items-start md:flex-row md:justify-center gap-2">
      <div class="text-2xl">Your <span class="text-dfus-orange">$VFSN</span></div>
      <div class="text-dfus-orange text-2xl">Stakes</div>
    </div>
  </div>

  <div class="flex justify-between items-center mb-4 mt-5">
    <div>
      <p class="text-sm">Available Balance</p>
      <p class="text-xl font-bold">{{ availableVFSNBalance }} VTK</p>
    </div>
    <div class="flex flex-row gap-4">
      <button class="p-0" (click)="onReload()">
        <img [class.animate-spin]="loadActiveStakesPending" src="/icons/refresh.svg" alt="Refresh icon" class="h-10 w-10" />
      </button>
      <button class="dfus-blue-btn" (click)="openStakeDialog()">Stake</button>
    </div>
  </div>

  <div class="flex flex-row justify-end items-center">
    <div class="flex flex-row justify-end items-center gap-x-2 text-sm cursor-pointer">
      <img src="icons/hint_info.svg" alt="Hint info icon" />
      <span class="underline hover:text-dfus-dark-blue">Learn how staking rewards work</span>
    </div>
  </div>

  <div class="mat-elevation-z8 !text-white my-4">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef class="text-white !bg-dfus-dark !border-b !border-b-dfus-border !text-end">Stake Amount</th>
        <td mat-cell *matCellDef="let element" class="text-white !text-end !border-b !border-b-dfus-border">{{ element.amount }}</td>
      </ng-container>

      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef class="text-white !bg-dfus-dark !border-b !border-b-dfus-border">Stake Date</th>
        <td mat-cell *matCellDef="let element" class="text-white !border-b !border-b-dfus-border">{{ element.startTime }}</td>
      </ng-container>

      <ng-container matColumnDef="timeRemaining">
        <th mat-header-cell *matHeaderCellDef class="text-white !bg-dfus-dark !border-b !border-b-dfus-border">Time Remaining</th>
        <td mat-cell *matCellDef="let element" class="text-white !border-b !border-b-dfus-border">{{ element.timeRemaining }}</td>
      </ng-container>

      <ng-container matColumnDef="hasWithdrawn">
        <th mat-header-cell *matHeaderCellDef class="text-white !bg-dfus-dark !border-b !border-b-dfus-border w-44"></th>
        <td mat-cell *matCellDef="let element" class="text-white !border-b !border-b-dfus-border">
          <button
            *ngIf="!element.hasWithdrawn && element.stakingPeriodOver"
            (click)="onOpenPasswordDialog(element)"
            [disabled]="unstakingItem?.stakeIndex === element.stakeIndex"
            [class.opacity-50]="unstakingItem?.stakeIndex === element.stakeIndex"
          >
            {{ unstakingItem?.stakeIndex === element.stakeIndex ? 'Unstaking...' : 'UnStake' }}
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- No data message -->
    <div *ngIf="dataSource.data.length === 0" class="text-center text-white mt-4">No data</div>
  </div>
</div>
