::ng-deep .stake-modal-content.mat-mdc-dialog-content {
  padding: 40px 40px 0px !important;
}

.mat-mdc-dialog-actions {
  padding: 20px 40px 60px !important;
}

::ng-deep .mdc-notched-outline__notch {
  border-right: none !important;
}

::ng-deep .mdc-text-field .mdc-notched-outline > * {
  border-color: #4d4e54 !important;
}

::ng-deep .stake-amount-container .mdc-text-field.mdc-text-field--focused {
  .mdc-notched-outline__notch .stake-amount-label {
    color: #e09334 !important;
  }

  .mdc-notched-outline > * {
    border-color: #e09334 !important; /* Change border color on focus */
  }
}

::ng-deep .mat-mdc-form-field-required-marker {
  display: none;
}

::ng-deep .mat-mdc-form-field-error-wrapper {
  padding: 0px !important;
  gap: 0px !important;
}
