<div class="h-svh flex">
  <div class="max-w-2xl flex flex-col justify-start items-stretch gap-y-8 mx-auto mt-32">
    <img [src]="'img/logo_vertical.svg'" class="w-auto h-32" alt="dFusion logo" />
    <div class="w-full flex flex-col justify-start items-stretch gap-y-8 text-center">

      <div class="flex flex-col justify-start items-center">
        <p class="text-[#848689]">This Application will run in the background and automatically complete the tasks you wish to run, earning you $VFSN tokens.</p>
      </div>

      <div class="flex flex-col justify-start items-center">
        <h1>Welcome to the</h1>
        <h1 class="text-[#FB9C2D]">dFusion DLP Miner</h1>
      </div>
    </div>

    <div class="w-full flex flex-col justify-start items-center gap-y-4">
      <span>Get started by connecting your wallet. Make sure to select the Vana network.</span>
      <button class="dfus-blue-btn dfus-btn-icon-group w-full h-16" (click)="connectExternalWallet()">
        Connect Your Wallet
      </button>
    </div>

    <div class="w-full flex flex-col justify-start items-center gap-y-4">
      <span>Alternatively, set up a hot wallet.</span>
      <button class="dfus-blue-btn dfus-btn-icon-group w-full h-16" (click)="createHotWallet()">
        Create Hot Wallet
      </button>
    </div>
  </div>
</div>