<mat-dialog-content class="password-modal-content blue-gradient-container !p-7">
  <div class="text-2xl mb-7">Enter Password</div>
  <form [formGroup]="passwordForm" class="flex flex-col gap-y-4">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" class="!px-3" />
      <mat-error
        class="!flex items-center !text-dfus-error !text-sm !p-0 !py-1"
        *ngIf="passwordForm.get('password')?.hasError('required') && passwordForm.get('password')?.touched"
      >
        <img src="icons/hint_error.svg" alt="Warning" class="w-4 h-4 mr-2" /> Password is required.
      </mat-error>
      <mat-error
        class="!flex items-center !text-dfus-error !text-sm !p-0 !py-1"
        *ngIf="passwordForm.get('password')?.hasError('minlength') && passwordForm.get('password')?.touched"
      >
        <img src="icons/hint_error.svg" alt="Warning" class="w-4 h-4 mr-2" /> Password must be at least 6 characters long.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="isForCreate">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" class="!px-3" />
      <mat-error
        class="!flex items-center !text-dfus-error !text-sm !p-0 !py-1"
        *ngIf="passwordForm.get('confirmPassword')?.hasError('required') && passwordForm.get('confirmPassword')?.touched"
      >
        <img src="icons/hint_error.svg" alt="Warning" class="w-4 h-4 mr-2" /> Confirm password is required.
      </mat-error>
      <mat-error
        class="!flex items-center !text-dfus-error !text-sm !p-0 !py-1"
        *ngIf="passwordForm.get('confirmPassword')?.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched"
      >
        <img src="icons/hint_error.svg" alt="Warning" class="w-4 h-4 mr-2" /> Confirm password is different.
      </mat-error>
    </mat-form-field>

    <div class="flex justify-end gap-x-4">
      <button class="dfus-blue-btn w-full h-12" (click)="onConfirm()" [disabled]="passwordForm.invalid">Confirm</button>
      <button class="dfus-orange-btn w-full h-12" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</mat-dialog-content>
